*{
    margin: 0px;
    padding: 0px;
}
.app-content{
    background-color: white;
    height: 75%;
    width: 25%;
    border-radius: 15px;
}

@media (max-width:600px){
   .app-content{
    height: 100%;
    width: 100%;
    border-radius: 0px;
   }
}